[submodule "offchain_db_adapter"]
	path = offchain_db_adapter
	url = https://github.com/GSMA-CPAS/BWRP-offchain-db-adapter
[submodule "chaincode"]
	path = chaincode
	url = https://github.com/GSMA-CPAS/BWRP-chaincode
[submodule "blockchain-adapter"]
	path = blockchain-adapter
	url = https://github.com/GSMA-CPAS/BWRP-blockchain-adapter
