[submodule "offchain_db_adapter"]
	path = offchain-db-adapter
	url = https://git.trilobyte-se.de/git/nomad/nomad-gsma-atomic/offchain_db_adapter.git
[submodule "chaincode"]
	path = chaincode
	url = https://git.trilobyte-se.de/git/nomad/nomad-gsma-atomic/chaincode.git
[submodule "restadapter"]
	path = restadapter
	url = https://git.trilobyte-se.de/git/nomad/nomad-gsma-atomic/restadapter.git
